GITHUB_OWNER=outlain
IMAGE_TAG=latest
HELPER_UID=10001
HELPER_GID=10001

WATCH_HOST_PATH=/mnt/bulk/webdownloads/complete
QUARANTINE_HOST_PATH=/mnt/bulk/webdownloads/quarantine
DEST_HOST_PATH=/mnt/media/WebsiteDownloads
DEFINITIONS_HOST_PATH=/mnt/media/docker/clamav/defs

POLL_SECONDS=5
SETTLE_SECONDS=30
MAX_SCAN_WORKERS=1
MAX_DEFINITION_AGE_SECONDS=172800
SCAN_TIMEOUT_SECONDS=7200
INCOMPLETE_SUFFIXES=.part,.tmp,.crdownload,.aria2,.partial,.download,.!qb
